py==3.9.5
matplotlib==3.4.3
scanpy==1.8.1
anndata==0.7.5
numpy==1.21.3
scvelo==0.2.4
scipy==1.7.1
goatools==1.1.6
seaborn==0.11.2
mygene==3.2.2
cellranger==1.1.0
snakemake
velocyto
re
os
gzip
csv
